PFCarrera/external/XSD/Check-rclass/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/check'
   xmlns:ch='http://ltcs.uned.es/lo/evaluation/question/check'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='check'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           />
        <xs:element
           name='question'
           />
        <xs:element
           name='options'
           type='ch:TOptions'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TOptions'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='option'
         type='ch:TOption'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:attribute
       name='ref'
       />
  </xs:complexType>

  <xs:complexType
     name='TOption'>
    <xs:sequence>
      <xs:element
         name='label'
         />
      <xs:element
         minOccurs='0'
         name='description'
         />
      <xs:element
         minOccurs='0'
         name='reference'
         type='ch:TReference'/>
      <xs:element
         minOccurs='0'
         name='comment'
         />
    </xs:sequence>
    <xs:attribute
       name='id'
       type='xs:ID'
       use='required'/>
    <xs:attribute
       default='false'
       name='correct'
       type='xs:boolean'/>
    <xs:attribute
       default='0'
       name='weight'
       type='ch:TWeight'/>
  </xs:complexType>

  

  <xs:simpleType
     name='TWeight'>
    <xs:restriction
       base='xs:byte'>
      <xs:minInclusive
         value='0'/>
      <xs:maxInclusive
         value='100'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

