PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Illustration/Domain/Formal/Computer/Code/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/computer/code'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:ns='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/computer/code'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='code'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='code'
           type='lo:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

