PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Illustration/Domain/Formal/Statistics/Plot/Area/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/statistics/plot/area'
   xmlns:ar='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/statistics/plot/area'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='area'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='axes'
           type='ar:TAxes'/>
        <xs:element
           name='series'
           type='ar:TSeries'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TAxes'>
    <xs:sequence>
      <xs:element
         name='horizontal'
         type='ar:TAxis'/>
      <xs:element
         name='vertical'
         type='ar:TAxis'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TAxis'>
    <xs:sequence>
      <xs:element
         name='title'
         type='lo:TTitle'/>
      <xs:element
         name='description'
         type='lo:TText'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TSeries'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='serie'
         type='ar:TSerie'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TSerie'>
    <xs:sequence>
      <xs:element
         name='legend'
         type='ar:TLegend'/>
      <xs:element
         name='data'
         type='ar:TData'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TLegend'>
    <xs:sequence>
      <xs:element
         name='title'
         type='lo:TTitle'/>
      <xs:element
         name='description'
         type='lo:TText'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TData'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='point'
         type='ar:TPoint'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TPoint'>
    <xs:attribute
       name='x'
       type='xs:decimal'
       use='required'/>
    <xs:attribute
       name='y'
       type='xs:decimal'
       use='required'/>
    <xs:attribute
       name='label'
       type='xs:normalizedString'/>
  </xs:complexType>

</xs:schema>

