PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Structure/Course/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/structure/course'
   xmlns:co='http://ltcs.uned.es/lo/content/structure/course'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='course'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='requisites'
           type='co:TRequisites'/>
        <xs:element
           minOccurs='0'
           name='objectives'
           type='co:TObjectives'/>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           minOccurs='0'
           name='image'
           type='co:TPath'/>
        <xs:element
           minOccurs='0'
           name='quote'
           type='co:TReference'/>
        <xs:element
           name='contents'
           type='co:TContents'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TRequisites'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='requisite'
         type='co:TExpression'/>
    </xs:sequence>
    <xs:attribute
       name='evaluation'
       type='co:TEvaluation'/>
  </xs:complexType>

  <xs:complexType
     name='TObjectives'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='objective'
         type='co:TExpression'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TExpression'>
    <xs:sequence>
      <xs:element
         minOccurs='0'
         name='title'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         name='expression'
         type='xs:string'>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TContents'>
    <xs:sequence>
      <xs:element
         name='abstract'
         type='co:TReference'/>
      <xs:element
         minOccurs='0'
         name='outline'
         type='co:TReference'/>
      <xs:element
         maxOccurs='unbounded'
         name='unit'
         type='co:TReference'/>
      <xs:element
         minOccurs='0'
         name='index'
         type='co:TReference'/>
      <xs:element
         minOccurs='0'
         name='glossary'
         type='co:TReference'/>
      <xs:element
         minOccurs='0'
         name='synopsis'
         type='co:TReference'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:attribute
       name='ref'
       type='lo:TLocalReference'
       use='required'/>
  </xs:complexType>

  <xs:complexType
     name='TPath'>
    <xs:simpleContent>
      <xs:extension
         base='lo:TTitle'>
        <xs:attribute
           name='path'
           type='lo:TPath'
           use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType
     name='TEvaluation'>
    <xs:restriction
       base='xs:token'>
      <xs:enumeration
         value='and'/>
      <xs:enumeration
         value='or'/>
      <xs:enumeration
         value='xor'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

