PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Illustration/Commons/Diagram/FlowChart/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/illustration/commons/diagram/flowchart'
   xmlns:fc='http://ltcs.uned.es/lo/content/exposition/illustration/commons/diagram/flowchart'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='flowChart'>
    <xs:complexType>
      <xs:sequence
         maxOccurs='unbounded'>
        <xs:choice>
          <xs:element
             ref='fc:start'/>
          <xs:element
             ref='fc:stop'/>
          <xs:element
             ref='fc:input'/>
          <xs:element
             ref='fc:output'/>
          <xs:element
             ref='fc:decision'/>
          <xs:element
             ref='fc:process'/>
          <xs:element
             ref='fc:merge'/>
          <xs:element
             ref='fc:extract'/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='start'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='output'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='stop'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='input'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='input'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='output'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='output'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='input'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='decision'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='input'
           type='xs:IDREF'/>
        <xs:element
           name='then'
           type='xs:IDREF'/>
        <xs:element
           name='else'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='process'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='input'
           type='xs:IDREF'/>
        <xs:element
           name='output'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='merge'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='inputs'>
          <xs:complexType>
            <xs:sequence>
              <xs:element
                 maxOccurs='unbounded'
                 name='input'
                 type='xs:IDREF'/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element
           name='output'
           type='xs:IDREF'/>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

  <xs:element
     name='extract'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='input'
           type='xs:IDREF'/>
        <xs:element
           name='outputs'>
          <xs:complexType>
            <xs:sequence>
              <xs:element
                 maxOccurs='unbounded'
                 name='output'
                 type='xs:IDREF'/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute
         name='id'
         type='xs:ID'
         use='required'/>
      <xs:attribute
         name='icon'
         type='lo:TLocalReference'/>
      <xs:attribute
         name='ref'
         type='lo:TReference'/>
    </xs:complexType>
  </xs:element>

</xs:schema>

