PFCarrera/external/LOTaxonomy/LClasses/LO/Evaluation/Question/Choice/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/choice'
   xmlns:ch='http://ltcs.uned.es/lo/evaluation/question/choice'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='choice'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='question'
           type='lo:TText'/>
        <xs:element
           name='options'
           type='ch:TOptions'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TOptions'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='option'
         type='ch:TOption'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TOption'>
    <xs:sequence>
      <xs:element
         name='label'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='reference'
         type='ch:TReference'/>
      <xs:element
         minOccurs='0'
         name='comment'
         type='lo:TText'/>
    </xs:sequence>
    <xs:attribute
       name='id'
       type='xs:ID'
       use='required'/>
    <xs:attribute
       default='false'
       name='correct'
       type='xs:boolean'/>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:simpleContent>
      <xs:extension
         base='lo:TText'>
        <xs:attribute
           name='ref'
           type='lo:TLocalReference'
           use='optional'/>
        <xs:attribute
           name='uri'
           type='lo:TExternalReference'
           use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

