PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Summary/Keywords/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/summary/keywords'
   xmlns:kw='http://ltcs.uned.es/lo/content/exposition/summary/keywords'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='keywords'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='keywords'
           type='kw:TKeywords'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TKeywords'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='key'
         type='lo:TTitle'/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

