PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Orientation/Instructions/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/orientation/instructions'
   xmlns:ins='http://ltcs.uned.es/lo/content/exposition/orientation/instructions'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='instructions'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           minOccurs='0'
           name='description'
           type='lo:TText'/>
        <xs:element
           name='instructions'
           type='ins:TInstructions'/>
        <xs:element
           minOccurs='0'
           name='conclusion'
           type='lo:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TInstructions'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='step'
         type='ins:TInstruction'/>
    </xs:sequence>
    <xs:attribute
       name='style'
       type='ins:TStyle'/>
  </xs:complexType>

  <xs:complexType
     mixed='true'
     name='TInstruction'>
    <xs:sequence
       minOccurs='0'>
      <xs:element
         name='title'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='instructions'
         type='ins:TInstructions'/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType
     name='TStyle'>
    <xs:restriction
       base='xs:NMTOKEN'>
      <xs:enumeration
         value='alpha'/>
      <xs:enumeration
         value='Alpha'/>
      <xs:enumeration
         value='roman'/>
      <xs:enumeration
         value='Roman'/>
      <xs:enumeration
         value='arabic'/>
      <xs:enumeration
         value='symbol'/>
      <xs:enumeration
         value='none'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

