PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Reference/Bookmark/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/reference/bookmark'
   xmlns:bm='http://ltcs.uned.es/lo/content/exposition/reference/bookmark'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='bookmark'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           minOccurs='0'
           name='annotations'
           type='bm:TAnnotations'/>
        <xs:element
           name='reference'
           type='bm:TReference'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TAnnotations'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='annotation'
         type='bm:TAnnotation'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TAnnotation'>
    <xs:attribute
       name='tag'
       type='xs:normalizedString'/>
    <xs:attribute
       name='level'
       type='bm:TLevel'/>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:simpleContent>
      <xs:extension
         base='lo:TText'>
        <xs:attribute
           name='ref'
           type='lo:TLocalReference'/>
        <xs:attribute
           name='uri'
           type='lo:TExternalReference'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType
     name='TLevel'>
    <xs:restriction
       base='xs:NMTOKEN'/>
  </xs:simpleType>

</xs:schema>

