PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Reference/Quote/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/reference/quote'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:qt='http://ltcs.uned.es/lo/content/exposition/reference/quote'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='quote'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='cite'
           type='lo:TText'/>
        <xs:element
           minOccurs='0'
           name='reference'
           type='qt:TReference'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TReference'>
    <xs:simpleContent>
      <xs:extension
         base='xs:string'>
        <xs:attribute
           name='ref'
           type='lo:TLocalReference'
           use='optional'/>
        <xs:attribute
           name='uri'
           type='lo:TExternalReference'
           use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

