PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Illustration/Domain/Formal/Statistics/Plot/PieChart/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/statistics/plot/statistics/piechart'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:pc='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/statistics/plot/statistics/piechart'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='pieChart'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           maxOccurs='unbounded'
           name='piece'
           type='pc:TPiece'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TPiece'>
    <xs:sequence>
      <xs:element
         name='title'
         type='lo:TTitle'/>
      <xs:element
         name='description'
         type='lo:TText'/>
    </xs:sequence>
    <xs:attribute
       name='label'
       type='xs:normalizedString'/>
    <xs:attribute
       name='value'
       type='xs:decimal'
       use='required'/>
  </xs:complexType>

</xs:schema>

