PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Orientation/Remember/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/orientation/remember'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:rm='http://ltcs.uned.es/lo/content/exposition/orientation/instructions'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='remember'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

