PFCarrera/external/LOTaxonomy/LClasses/LO/Evaluation/Question/ChoiceSheet/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/choicesheet'
   xmlns:cs='http://ltcs.uned.es/lo/evaluation/question/choicesheet'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='choiceSheet'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='sheet'
           type='cs:TSheet'/>
        <xs:element
           minOccurs='0'
           name='comment'
           type='lo:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TSheet'>
    <xs:sequence>
      <xs:element
         name='header'
         type='cs:THeader'/>
      <xs:element
         name='rows'
         type='cs:TRows'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='THeader'>
    <xs:sequence>
      <xs:element
         name='question'
         type='lo:TTitle'/>
      <xs:element
         name='options'
         type='cs:THOptions'>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='THOptions'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='option'
         type='cs:THOption'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='THOption'>
    <xs:sequence>
      <xs:element
         name='label'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='reference'
         type='cs:TReference'/>
    </xs:sequence>
    <xs:attribute
       default='false'
       name='correct'
       type='xs:boolean'/>
    <xs:attribute
       default='0'
       name='weight'
       type='cs:TWeight'/>
    <xs:attribute
       name='id'
       type='xs:ID'
       use='required'/>
  </xs:complexType>

  <xs:complexType
     name='TRows'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='row'
         type='cs:TRow'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TRow'>
    <xs:sequence>
      <xs:element
         name='question'
         type='cs:TQuestion'/>
	  <xs:element
         minOccurs='0'
         name='comment'
         type='lo:TText'/>
    </xs:sequence>
	<xs:attribute
       default='false'
       name='correct'
       type='xs:boolean'/>
    <xs:attribute
       default='0'
       name='weight'
       type='cs:TWeight'/>
  </xs:complexType>
	   
  <xs:complexType
     name='TQuestion'>
    <xs:sequence>
      <xs:element
         name='label'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='reference'
         type='cs:TReference'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:attribute
       name='ref'
       type='lo:TReference'/>
  </xs:complexType>

  <xs:simpleType
     name='TWeight'>
    <xs:restriction
       base='xs:byte'>
      <xs:minInclusive
         value='0'/>
      <xs:maxInclusive
         value='100'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

