PFCarrera/external/LOTaxonomy/LClasses/LO/Interactive/Check/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/interactive/check'
   xmlns:ch='http://ltcs.uned.es/lo/interactive/check'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='check'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='options'
           type='ch:TOptions'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TOptions'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='option'
         type='ch:TOption'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TOption'>
    <xs:simpleContent>
      <xs:extension
         base='xs:string'>
        <xs:attribute
           name='name'
           type='xs:ID'
           use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

