PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Summary/Glossary/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/summary/glossary'
   xmlns:gl='http://ltcs.uned.es/lo/content/exposition/summary/glossary'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='glossary'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='entries'
           type='gl:TEntries'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TEntries'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='entry'
         type='gl:TEntry'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TEntry'>
    <xs:sequence>
      <xs:element
         name='term'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='seeAlso'
         type='gl:TSeeAlso'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TSeeAlso'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='reference'
         type='gl:TReference'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:attribute
       name='ref'
       type='lo:TLocalReference'/>
  </xs:complexType>

</xs:schema>

