PFCarrera/external/LOTaxonomy/LClasses/LO/Evaluation/Question/Pairwise/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/pairwise'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:pw='http://ltcs.uned.es/lo/evaluation/question/pairwise'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='pairwise'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='question'
           type='lo:TText'/>
        <xs:element
           name='pairs'
           type='pw:TPairs'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TPairs'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='pair'
         type='pw:TPair'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TPair'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='2'
         name='element'
         type='pw:TElement'/>
      <xs:element
         minOccurs='0'
         name='comment'
         type='lo:TText'/>
    </xs:sequence>
    <xs:attribute
       name='weight'
       type='pw:TWeight'
       use='required'/>
  </xs:complexType>

  <xs:complexType
     name='TElement'>
    <xs:sequence>
      <xs:element
         name='label'
         type='lo:TTitle'/>
      <xs:element
         minOccurs='0'
         name='description'
         type='lo:TText'/>
      <xs:element
         minOccurs='0'
         name='reference'
         type='pw:TReference'/>
    </xs:sequence>
    <xs:attribute
       name='id'
       type='xs:ID'
       use='required'/>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:simpleContent>
      <xs:extension
         base='lo:TText'>
        <xs:attribute
           name='ref'
           type='lo:TLocalReference'
           use='optional'/>
        <xs:attribute
           name='uri'
           type='lo:TExternalReference'
           use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType
     name='TWeight'>
    <xs:restriction
       base='xs:byte'>
      <xs:minInclusive
         value='0'/>
      <xs:maxInclusive
         value='100'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

