PFCarrera/external/LOTaxonomy/LClasses/LO/Evaluation/Question/Canvas/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/canvas'
   xmlns:cv='http://ltcs.uned.es/lo/evaluation/question/canvas'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='canvas'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='question'
           type='lo:TText'/>
        <xs:element
           name='canvas'
           type='cv:TCanvas'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TCanvas'>
    <xs:sequence>
      <xs:element
         name='componentBars'
         type='cv:TComponentBars'/>
      <xs:element
         name='linkBars'
         type='cv:TLinkBars'/>
      <xs:element
         name='grid'
         type='cv:TGrid'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TComponentBars'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='0'
         name='componentBar'
         type='cv:TComponentBar'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TLinkBars'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='0'
         name='linkBar'
         type='cv:TLinkBar'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TComponentBar'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='component'
         type='cv:TElement'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TLinkBar'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='link'
         type='cv:TElement'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TElement'>
    <xs:sequence>
      <xs:element
         name='label'
         type='lo:TTitle'/>
      <xs:element
         name='description'
         type='lo:TText'/>
      <xs:element
         name='icon'
         type='cv:TReference'/>
      <xs:element
         minOccurs='0'
         name='properties'
         type='cv:TProperties'/>
    </xs:sequence>
    <xs:attribute
       name='id'
       type='xs:ID'/>
    <xs:attribute
       name='class'
       type='lo:TExternalReference'/>
  </xs:complexType>

  <xs:complexType
     name='TProperties'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='property'
         type='cv:TProperty'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TProperty'>
    <xs:attribute
       name='name'
       type='xs:token'/>
    <xs:attribute
       name='value'
       type='xs:token'/>
  </xs:complexType>

  <xs:complexType
     name='TLink'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='0'
         name='link'
         type='cv:TLink'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TGrid'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='0'
         name='default'
         type='cv:TSettings'/>
      <xs:element
         maxOccurs='unbounded'
         minOccurs='0'
         name='solution'
         type='cv:TSettings'/>
    </xs:sequence>
    <xs:attribute
       default='true'
       name='visible'
       type='xs:boolean'/>
    <xs:attribute
       name='background'
       type='lo:TReference'/>
    <xs:attribute
       name='width'
       type='xs:integer'
       use='required'/>
    <xs:attribute
       name='height'
       type='xs:integer'
       use='required'/>
    <xs:attribute
       default='10'
       name='grain'
       type='xs:integer'/>
  </xs:complexType>

  <xs:complexType
     name='TSettings'>
    <xs:sequence
       maxOccurs='unbounded'>
      <xs:choice>
        <xs:element
           name='compoment'
           type='cv:TUseComponent'/>
        <xs:element
           name='link'
           type='cv:TUseLink'/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='TUseComponent'>
    <xs:sequence>
      <xs:element
         minOccurs='0'
         name='properties'
         type='cv:TProperties'/>
    </xs:sequence>
    <xs:attribute
       name='x'
       type='xs:integer'/>
    <xs:attribute
       name='y'
       type='xs:integer'/>
    <xs:attribute
       name='ref'
       type='xs:IDREF'/>
  </xs:complexType>

  <xs:complexType
     name='TUseLink'>
    <xs:sequence>
      <xs:element
         minOccurs='0'
         name='properties'
         type='cv:TProperties'/>
    </xs:sequence>
    <xs:attribute
       name='fromX'
       type='xs:integer'/>
    <xs:attribute
       name='fromY'
       type='xs:integer'/>
    <xs:attribute
       name='toX'
       type='xs:integer'/>
    <xs:attribute
       name='toY'
       type='xs:integer'/>
    <xs:attribute
       name='ref'
       type='xs:IDREF'/>
  </xs:complexType>

  <xs:complexType
     name='TReference'>
    <xs:attribute
       name='ref'
       type='lo:TExternalReference'/>
    <xs:attribute
       name='uri'
       type='lo:TLocalReference'/>
  </xs:complexType>

</xs:schema>

