PFCarrera/external/LOTaxonomy/LClasses/LO/Evaluation/Question/TextHighlight/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/evaluation/question/textHighlight'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:th='http://ltcs.uned.es/lo/evaluation/question/textHighlight'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='textHighlight'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           minOccurs='0'
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='question'
           type='lo:TText'/>
        <xs:element
           name='text'
           type='th:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     mixed='true'
     name='TText'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='highlight'
         type='th:THighlight'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType
     name='THighlight'>
    <xs:simpleContent>
      <xs:extension
         base='lo:TText'>
        <xs:attribute
           name='id'
           type='xs:ID'
           use='required'/>
        <xs:attribute
           name='weight'
           type='th:TWeight'
           use='required'/>
        <xs:attribute
           name='type'
           type='xs:NMTOKEN'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType
     name='TWeight'>
    <xs:restriction
       base='xs:byte'>
      <xs:minInclusive
         value='0'/>
      <xs:maxInclusive
         value='100'/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

