PFCarrera/external/LOTaxonomy/LClasses/LO/Interactive/Text/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/interactive/text'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:tx='http://ltcs.uned.es/lo/interactive/text'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='text'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='text'
           type='tx:TText'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TText'>
    <xs:simpleContent>
      <xs:extension
         base='xs:string'>
        <xs:attribute
           name='name'
           type='xs:ID'
           use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

