PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Orientation/GuideLines/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/orientation/guidelines'
   xmlns:gls='http://ltcs.uned.es/lo/content/exposition/orientation/guidelines'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='guidelines'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='guides'
           type='gls:TGuidelines'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TGuidelines'>
    <xs:sequence>
      <xs:element
         maxOccurs='unbounded'
         name='line'
         type='lo:TText'/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

