PFCarrera/external/LOTaxonomy/LClasses/LO/Content/Exposition/Illustration/Domain/Formal/Math/Proof/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/math/proof'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:mt='http://www.w3.org/1998/Math/MathML'
   xmlns:pr='http://ltcs.uned.es/lo/content/exposition/illustration/domain/formal/math/proof'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../../../../../../.lClass/schema/LO.xsd'/>

  <xs:import
     namespace='http://www.w3.org/1998/Math/MathML'
     schemaLocation='http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd'/>

  <xs:element
     name='proof'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='caption'
           type='lo:TText'/>
        <xs:element
           name='label'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='statement'
           type='mt:math.type'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

