PFCarrera/external/LOTaxonomy/LClasses/LO/Interactive/Number/.lClass/schema/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
   attributeFormDefault='qualified'
   elementFormDefault='qualified'
   targetNamespace='http://ltcs.uned.es/lo/interactive/number'
   xmlns:lo='http://ltcs.uned.es/lo'
   xmlns:nb='http://ltcs.uned.es/lo/interactive/number'
   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:import
     namespace='http://ltcs.uned.es/lo'
     schemaLocation='./../../../../.lClass/schema/LO.xsd'/>

  <xs:element
     name='number'>
    <xs:complexType>
      <xs:sequence>
        <xs:element
           name='title'
           type='lo:TTitle'/>
        <xs:element
           name='description'
           type='lo:TText'/>
        <xs:element
           name='number'
           type='nb:TNumber'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType
     name='TNumber'>
    <xs:simpleContent>
      <xs:extension
         base='xs:decimal'>
        <xs:attribute
           name='name'
           type='xs:ID'
           use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

